user.gradle
.gradle/
target/
ignite/
build/
out/
testoutput/

*.DS_Store
*.class
*.swp
*~

.idea
*.iml
*.ipr
*.iws
.shelf
*.model

.settings/
.classpath
.project
bin/
work/
.jqwik-database
.ipynb_checkpoints/
